version: '3.4'
services:
  db:
    container_name: db
    build:
      context: .
      dockerfile: dev/database/Dockerfile
    image: patchman-engine-db
    command: 'postgres -c config_file=/opt/app-root/src/postgresql-cfg/custom.conf'
    ports:
      - 5433:5432
    env_file:
      - ./conf/database.env

  kafka:
    container_name: kafka
    build:
      context: .
      dockerfile: ./dev/kafka/Dockerfile
    image: patchman-engine-kafka
    env_file:
      - ./conf/kafka.env
    volumes:
      - ./dev/kafka/secrets:/etc/kafka/secrets
      - ./dev/kafka:/app
    ports:
      - 29092:29092
      - 29093:29093
      - 9092:9092
      - 9093:9093
      - 9099:9099
    security_opt:
      - label=disable
    # https://github.com/wurstmeister/kafka-docker/issues/389#issuecomment-875428899
    restart: always

  platform:
    container_name: platform
    build:
      context: .
      dockerfile: Dockerfile
      args:
        - INSTALL_TOOLS=yes
      target: buildimg
    image: patchman-engine-app
    env_file:
      - ./conf/platform.env
    command: ./dev/scripts/docker-compose-entrypoint.sh platform
    restart: unless-stopped
    ports:
      - 9001:9001
    depends_on:
      - kafka
      - db

  test:
    container_name: test
    image: patchman-engine-app
    env_file:
      - ./conf/common.env
      - ./conf/test.env
      - ./conf/database.env
      - ./conf/database_admin.env
      - ./conf/gorun.env
    depends_on:
      - db
      - platform
    user: root
    command: ./scripts/go_test_on_ci.sh
    volumes:
      - ./:/go/src/app/
    security_opt:
      - label=disable
