version: '3'

services:
  db:
    container_name: db
    image: postgres:11.5
    ports:
      - 5432:5432
    env_file:
      - ./conf/database.env

  db_setup:
    container_name: db_setup
    build:
      context: .
      dockerfile: Dockerfile.centos
    env_file:
      - ./conf/database.env
    command: /database/migrate.sh
    depends_on:
      - db
    volumes:
      - ./:/go/src/app
    security_opt:
      - label=disable

  db_feed:
    container_name: db_feed
    build:
      context: .
      dockerfile: Dockerfile.centos
    env_file:
      - ./conf/test.env
    command: ./scripts/feed_db.sh
    depends_on:
      - db
    volumes:
      - ./:/go/src/app
    security_opt:
      - label=disable

  platform:
    container_name: platform
    build:
      context: .
      dockerfile: platform/Dockerfile
    env_file:
      - ./conf/common.env
      - ./conf/platform.env
    restart: unless-stopped
    depends_on:
      - db
    ports:
      - 9092:9092
      - 9001:9001

  manager:
    container_name: manager
    build:
      context: .
      dockerfile: Dockerfile.centos
    env_file:
      - ./conf/common.env
      - ./conf/manager.env
    command: ./scripts/entrypoint.sh manager
    ports:
      - 8080:8080
    depends_on:
      - db
      - platform
    volumes:
      - ./:/go/src/app
    security_opt:
      - label=disable

  listener:
    container_name: listener
    build:
      context: .
      dockerfile: Dockerfile.centos
    env_file:
      - ./conf/common.env
      - ./conf/listener.env
    command: ./scripts/entrypoint.sh listener
    ports:
      - 8081:8081
    depends_on:
      - db
      - platform
    volumes:
      - ./:/go/src/app
    security_opt:
      - label=disable

  evaluator_upload:
    container_name: evaluator_upload
    build:
      context: .
      dockerfile: Dockerfile.centos
    env_file:
      - ./conf/common.env
      - ./conf/evaluator_common.env
      - ./conf/evaluator_upload.env
    command: ./scripts/entrypoint.sh evaluator
    environment:
      - GORUN=on
    ports:
      - 8082:8082
    depends_on:
      - db
      - platform
    volumes:
      - ./:/go/src/app
    security_opt:
      - label=disable

  evaluator_recalc:
    container_name: evaluator_recalc
    build:
      context: .
      dockerfile: Dockerfile.centos
    env_file:
      - ./conf/common.env
      - ./conf/evaluator_common.env
      - ./conf/evaluator_recalc.env
    command: ./scripts/entrypoint.sh evaluator
    ports:
      - 8084:8084
    depends_on:
      - db
      - platform
    volumes:
      - ./:/go/src/app
    security_opt:
      - label=disable

  vmaas_sync:
    container_name: vmaas_sync
    build:
      context: .
      dockerfile: Dockerfile.centos
    env_file:
      - ./conf/common.env
      - ./conf/vmaas_sync.env
    command: ./vmaas_sync/entrypoint.sh
    ports:
      - 8083:8083
    restart: unless-stopped
    depends_on:
      - db
      - platform
    volumes:
      - ./:/go/src/app
    security_opt:
      - label=disable
