version: '3'

services:

  db:
    container_name: db
    image: postgres:10.0-alpine
    ports:
      - 5432:5432
    environment:
      POSTGRES_DB: app
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: passwd
    volumes:
      - ./database/schema.sql:/docker-entrypoint-initdb.d/schema.sql
    security_opt:
      - label=disable

  platform:
    container_name: platform
    hostname: platform
    build:
      context: .
      dockerfile: platform/Dockerfile
    restart: unless-stopped
    depends_on:
      - db
    ports:
      - 9092:9092
    env_file:
      - ./conf/common.env
    security_opt:
      - label=disable

  listener:
    build:
      context: .
      dockerfile: Dockerfile
    env_file:
      - ./conf/common.env
      - ./conf/listener.env
    command: go run -v main.go listener
    ports:
      - 8080:8080
    depends_on:
      - db
      - platform
    security_opt:
      - label=disable

  webserver:
    build:
      context: .
      dockerfile: Dockerfile
    env_file:
      - ./conf/common.env
      - ./conf/listener.env
    command: go run -v main.go webserver
    ports:
      - 8080:8080
    depends_on:
      - db
      - platform
    security_opt:
      - label=disable