version: '3.4'
services:
  db:
    container_name: db
    build:
      context: .
      dockerfile: dev/database/Dockerfile.centos
    command: 'run-postgresql -c logging_collector=off'
    ports:
      - 5432:5432
    env_file:
      - ./conf/database.env

  zookeeper:
    image: confluentinc/cp-zookeeper:5.4.0
    container_name: zookeeper
    env_file:
      - ./conf/zookeeper.env
    ports:
      - 2181:2181
    command: sh -c "echo 'admin.enableServer=false' >> /etc/confluent/docker/zookeeper.properties.template && /etc/confluent/docker/run"

  kafka:
    container_name: kafka
    build:
      context: .
      dockerfile: ./dev/kafka/Dockerfile
    env_file:
      - ./conf/kafka.env
    depends_on:
      - zookeeper
    ports:
      - 29092:29092
      - 29093:29093
      - 9092:9092
      - 9093:9093

  platform:
    container_name: platform
    build:
      context: .
      dockerfile: Dockerfile
      args:
        - INSTALL_TOOLS=yes
      target: buildimg
    image: patchman-engine_patchimg
    env_file:
      - ./conf/platform.env
    command: ./scripts/entrypoint.sh platform
    restart: unless-stopped
    ports:
      - 9001:9001
    depends_on:
      - kafka
      - db

  test:
    container_name: test
    image: patchman-engine_patchimg
    env_file:
      - ./conf/test.env
      - ./conf/database.env
      - ./conf/database_admin.env
      - ./conf/gorun.env
    depends_on:
      - db
      - platform
    user: root
    command: ./scripts/go_test_on_ci.sh
    volumes:
      - ./:/go/src/app/
    security_opt:
      - label=disable
